.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.title {
    color: var(--blue-700);
    font-size: 36px;
    letter-spacing: 0.125rem;
}

.subtitle {
    font-size: 20px;
    line-height: 1rem;
    letter-spacing: 0.125rem;
    color: var(--gray-300);
}